html {
  background-color: lightgray;
  font-family: Lora;
}

h1 {
  text-align: center;
}

.img-div {
  text-align: center;
  margin-top: 80px;
}

img {
  max-width: 20em;
  height: auto;
}

h3 {
  text-align: center;
}

.inner-div {
  margin: 15px;
}

pre {
  text-align: left;
  max-width: 100%;
  overflow: hidden;
}

.ruby-code {
  border:solid gray;
  border-width:.1em .1em .1em .8em;
  padding:.2em .6em;
  color: #ed9d13;
  background: #202020;
}

