body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  text-align: center;
}

img {
  width: 50%;
  height: auto;
  float: left;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
  float: left;
  width: 40%;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #0000b2;
}