@media (max-width: 480px) {
  
  img {
    width: 95vw;
    height: auto;
  }
  
  h1 {
    max-width: 90%;
  }
  
  ol {
    max-width: 80%;
  }
  
}

@media (min-width: 481px) {
  img {
      width: 50%;
        height: 80vh;
  }
  
    h1 {
    max-width: 100%;
  }
  
  ol {
      width: 35%;
  }
}


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  text-align: center;
}

img {
  float: left;
  margin-left: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ol {
  text-align: left;
  float: left;

}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
}