body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  text-align: center;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: right;
}

.navbar a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  padding: 14px 16px;
}

.navbar a:hover {
  background-color: #111;
}

img {
  width: 50%;
  height: 80vh;
  float: left;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ol {
  text-align: left;
  float: right;
  width: 40%;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
}