html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

#navbar {
  background-color: transparent;
}
.navbar-header .navbar {
  text-decoration: none;
  max-width: 100%;
}

.navbar .container {
  font-family: 'open sans';
}

#navbar {
  background-color: transparent;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.toggle-nav {
  background-color: #dddddd !important;
}

.navbar-right a {
  font-size: 1.8em;
}

.navbar-right a:hover {
  text-decoration: none;
}

.home {
  height: 70vh;
  background-image: url('../imgs/bg1.jpg');
  background-size: cover;
}

.home>.jumbotron>h1 {
  color: #DDDDDD;
  font-family: lobster;
  margin-top: 200px;
}

.home>.jumbotron {
  height: 260px;
  /*background: rgba(0, 0, 0, 0.5);*/
  background: transparent;
  text-align: center;
}

.home>.jumbotron>p {
  margin: 15px;
  color: #FFFFFF;
  font-family: 'open sans';
}

.box {
  width: 450px;
  color: white;
  margin: 10px;
  font-size: 20px;
}

.buttons {
  color: orange;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  text-decoration: none !important;
  outline: none !important;
}

.buttons:hover {
  color: #FF4500;
}

.buttons:active {
  color: blue;
}

.right-button {
  float: right;
  margin-right: 20%;
}

.maps-locations {
  background-image: url('../imgs/maps-locations.png');
  background-size: cover;
  max-width: 100%;
  height: 50vh;
}

.textbox-maps {
  float: right;
  margin-top: 35vh;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding-left: 10px;
}

.zip-quote {
  background-image: url('../imgs/random-quotes.png');
  background-size: cover;
  max-width: 100%;
  height: 50vh;
}

.textbox-quote {
  float: left;
  margin-top: 35vh;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding-left: 10px;
}

.zip-calculator {
  background-image: url('../imgs/javascript-calculator.png');
  background-size: cover;
  max-width: 100%;
  height: 50vh;
}

.textbox-calculator {
  float: right;
  margin-top: 35vh;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding-left: 10px;
}

.zip-clock {
  background-image: url('../imgs/pomodoro-clock.png');
  background-size: cover;
  max-width: 100%;
  height: 50vh;
}

.textbox-clock {
  float: left;
  margin-top: 35vh;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding-left: 10px;
}

.zip-twitch {
  background-image: url('../imgs/twitchTV.png');
  background-size: cover;
  max-width: 100%;
  height: 50vh;
}

.textbox-twitch {
  float: right;
  margin-top: 35vh;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding-left: 10px;
}

.react-fcc-leaderboard {
  background-image: url('../imgs/fcc-leaderboard.png');
  background-size: cover;
  max-width: 100%;
  height: 50vh;
}

.textbox-fcc-leaderboard {
  float: left;
  margin-top: 35vh;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding-left: 10px;
}

.react-fcc-leaderboard>.textbox-fcc-leaderboard>p>a {
  color: blue;
}

.zip-wiki {
  background-image: url('../imgs/wikipedia-viewer.png');
  background-size: cover;
  max-width: 100%;
  height: 50vh;
}

.textbox-wiki {
  float: right;
  margin-top: 35vh;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding-left: 10px;
}

.zip-tic-tac-toe {
  background-image: url('../imgs/tic-tac-toe.png');
  background-size: cover;
  max-width: 100%;
  height: 50vh;
}

.textbox-tic-tac-toe {
  float: left;
  margin-top: 35vh;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding-left: 10px;
}

.zip-simon {
  background-image: url('../imgs/simon-game.png');
  background-size: cover;
  max-width: 100%;
  height: 50vh;
}

.textbox-simon {
  float: right;
  margin-top: 35vh;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding-left: 10px;
}

#contact h3 {
  color: white;
}

#contact {
  text-align: center;
  height: 15vh;
  background-color: #222;
}

#contact a {
  margin: 10px;
  text-decoration: none;
}

#contact a:hover {
  opacity: 0.7;
}

h2 {
  font-size: 1.8em;
}